html {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0px;
    background-color: white;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px;
    padding: 1px 11px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#logo {
    color: whitesmoke;
    font-style: italic;
    border: 1px whitesmoke dashed;
    border-radius: 5px;
    padding: 0px 3px;
    z-index: 1;
}

#links {
    color: whitesmoke;
    z-index: 1;
}

#menu {
    display: none;
    z-index: 1;
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 6px 0px;
    border-radius: 10px;
}


a {
    cursor: pointer;
    margin: 0px 5px;
}


a:hover {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

@media (max-width: 680px) {
    #links {
        display: none;
    }

    #menu {
        display: block;
    }
}


header {
    height: 500px;
    background-image: url(header_image.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    color: whitesmoke;
    text-align: center;
    font-size: 1.3em;
    max-width: 780px;
    font-size: 1.8rem;
    z-index: 1;
    padding: 2px;
}

#overlay {
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

#profile {
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}

img {
    width: 100%;
    border-radius: 5px;
}

#photo_profile {
    height: 100px;
    width: 100px;
    background-image: url(profile_image.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    margin-bottom: 10px;
}

#profile strong {
    font-size: 1.1rem;
}

#profile p {
    font-size: .5rem;
    margin-top: 2px;
    color: lightseagreen;
    text-decoration: line-through;
    font-style: italic;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

section {
    margin: 5px;
    border-radius: 8px;
    max-width: 832px;
    min-width: 500px;
    margin-bottom: 120px;
    padding: 7px;
    display: flex;
}

footer {
    background-color: #141414;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: whitesmoke;
    font-size: .8rem;
    letter-spacing: 10px;
    margin: 15px 0px;
}

footer p span {
    text-decoration: line-through;
    font-style: italic;
}

.number {
    color: lightgrey;
    font-size: 1.5em;
    margin-right: 40px;
}

.information {
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 8px;
}

.information strong {
    margin-bottom: 3px;
    font-weight: 900;
}

.information em {
    margin-bottom: 20px;
    margin-left: 1px;
    font-size: .5em;
    color: gray;
    letter-spacing: .5px;
    display: block;
}

.information p {
    font-size: .7em;
    margin-bottom: 20px;
}

.information .synophis {
    margin-bottom: 20px;
    display: inline-block;
    color: limegreen;
    font-style: italic;
    /* text-decoration: wavy underline 1px; */
    letter-spacing: 1.3px;
}


#bottom_logo {
    height: 40px;
    width: 40px;
    border: 1px dashed whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

#eyes {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 12px;
    width: 30px;
    margin-bottom: 10px;
}

#eyes div {
    height: 14px;
    width: 3px;
    background-color: whitesmoke;
    border-radius: 10px ;
}

#eyes #right_eye {
    height: 7px;
    width: 3px;
    background-color: whitesmoke;
    
}

#month {
    background-color: whitesmoke;
    width: 20px;
    height: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 450px){
    html {
        font-size: 18px;
    }

    header h1 {
        padding: 4px;
    }

    section {
        max-width: 440px;
        min-width: 350px;
        margin-bottom: 50px;
    }

    article {
        padding: 8px;
    }

    .number {
        margin-right: 10px;
    }
}